<% provide(:title, "使い方") %>

<div style="padding:0;margin:0;width:auto;max-width:320px;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="mokuji">■目次</h3>
</div>
<div style="padding:15px"><a href="#title1">▶登録の仕方</a>
<br />
<a href="#title2">▶投稿の仕方</a>
<br />
<a href="#title3">▶サプライチェーンの追加</a>
<br />
<a href="#title4">▶QRコードのダウンロード</a>
<br />
<a href="#title5">▶その他の機能</a>
</div>
</div>
<br />
<br />
<div style="padding:0;margin:0;width:auto;max-width:500px;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title1">■登録の仕方 </h3>
</div>
</div>
<br />
<p>まず、<a href="/signup">新規登録ページ</a>にアクセスします。<br></p>
<%= image_tag("signup.png", :size => '600x400', class: "help-signup") %><br><br>
<p>各項目を記述して、登録をしてください。<br>
登録が完了したら、メールが届くので<br>メールのから本登録を完了してください。</p>
<%= image_tag("help-activation.png", class: "help-activation") %><br><br>
これで本登録が完了です！


<br />
<br />
<a href="#mokuji">▶目次にもどる</a>
<br />
<br />
<br />
<div style="padding:0;margin:0;width:auto;max-width:500px;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title2">■投稿の仕方 </h3>
</div>
</div>
<br />

<br />
<br />
<a href="#mokuji">▶目次にもどる</a>
<br />
<br />
<br />
<div style="padding:0;margin:0;width:auto;max-width:500px;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title3">■サプライチェーンの追加 </h3>
</div>
</div>
<br />
サプライチェーンを追加したい場合は、追加してほしいユーザーをフォローしてください。<br>
フォローすることで、そのユーザーはチェーンを追加することができます。<br />
<br />
<a href="#mokuji">▶目次にもどる</a>
<br />
<br />
<br />
<div style="padding:0;margin:0;width:auto;max-width:500px;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title4">■見出し4 </h3>
</div>
</div>
<br />
見出し4本文<br />
<br />
<a href="#mokuji">▶目次にもどる</a>
<br />
<br />
<br />
<div style="padding:0;margin:0;width:auto;max-width:500px;color:#333;background:#fff;border:1px solid #ccc;border-top:3px solid #0000FF;box-shadow:4px 4px 8px #ddd">
<div style="padding:6px 9px;font-weight:bold;background:#f7f7f7;border-bottom:1px dotted #ccc;">
<h3 id="title5">■見出し5 </h3>
</div>
</div>
<br />
見出し5本文<br />
<br />
<a href="#mokuji">▶目次にもどる</a>
<br />
