<div class="vege-relative">
　<%= image_tag("vege2.png") %>
　
 <div class="vege">
  <h1>全ての商品には<br>ストーリーがある</h1>
<br><br><br>
  <h2>
サプライチェーンを通じて、<br>商品の信頼を提供します
  </h2>
</div>
<% if not_logged_in? %>
  <%= link_to "無料で登録", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>


