<%= provide(:title, "プラン") %>
<h1>個人事業主から企業まで、<br>
幅広くお使いいただけます。</h1>
<p>個人のクリエイター、個人で活用したい方をはじめ、<br>
会社に導入して業務の生産性向上を目指したい方に向けて<br>
有料プランを用意しています。</p>

<div class="row price">

    <div class="col-md-6">
        <div class="free">
            <h2>フリー</h2>
            <p>まずは無料で試したい</p>
            <%= link_to "新規登録(無料)", "/signup" , class: "btn btn-danger btn-free" %><br>
            <div class="pri-inf">◎2投稿まで可能</div><br>
            <div class="pri-inf">◎QRコード50回までDL可能</div><br>
            <div class="pri-inf">◎チェーンの追加し放題</div><br>
        </div>
    </div>
    <div class="col-md-6">
        <div class="not-free">
            <h2>有料プラン</h2>
            <p>サービスを本活用したい<br>1980円</p>
            <div class="paybutton">
             <%= form_tag(action: :pay, method: :post) do %>
   <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_live_6f8776971001d7416e4249c3"></script>
             <% end %>
　　　　　　</div>
　　　　　　<div class="pri-inf">◎投稿し放題</div>
　　　　　　<div class="pri-inf">◎QRコードをダウンロードし放題</div>
　　　　　　<div class="pri-inf">◎一回のお支払いのみで月に掛かる金額などは一切ございません</div>
　　　　</div>
    </div>
</div>
