<h1>利用規約</h1>
この利用規約（以下，「本規約」）は，Branding（以下，「当社」）が
このウェブのサイトにおいて提供するサービス（以下，「本サービス」）の利用条件を定めるものです。
登録をしていただいた、ユーザーの方々（以下，「ユーザー」）には，本規約に従って，
当サイトを利用していただくものとします。
<br>
<%= image_tag("privacy1.png", class: "privacy") %>
<h1>プライバシーポリシー</h1>
当社は，本ウェブサイト上で提供する本サービスにおけるプライバシー情報の取扱いについて，
プライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。<br>
<%= image_tag("privacy2.png", class: "privacy") %>
