<li class="index-block">
    <div class="index-pic">
    <%= link_to image_tag(micropost.photo.url) , "/postpage/#{micropost.id}",
    class: "index-im" if micropost.photo? %><br>
    </div>
    <% if micropost.product.present? %>
    <div class="index-under">
      <%= link_to micropost.product, "/postpage/#{micropost.id}", class: "index-pro" %>
    <% end %>
        <% if current_user?(micropost.user) %>
         <%= link_to '削除', "/postpage/#{micropost.id}", method: :delete,
                      data: {confirm: "本当に削除してもよろしいですか？"},
                      class: "index-delete" %>
        <% end %>
    </div>

</li>