<% provide(:title, "#{@micropost.product}の詳細情報") %>
<div class="row">
  <div class="col-md-3">
          
    <h1><%= @micropost.product %></h1>
    <%= image_tag @micropost.image, class: "product-image"%><br>
    <div class="qr"><%= qrcode_tag request.url, module_size: 2 %></div><br>
    
  </div>

  <div class="col-md-9 product-trajectory">
    <h1>商品の軌跡</h1>
    <%= render 'microposts/block' %>

  </div>

</div>